.list-products{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 800px;
    max-width: 800px;
    align-items: center;
    text-align: center;
    gap:15px;
    margin: 20px;
}

.list-products>h1{
    font-size: 30px;
    font-family: 'Magista Brush','Times New Roman', Times, serif;
}