.form-login{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    max-width: 500px;
    min-height: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    text-align: center;
}
  
.form-login> h1{
    font-family: 'Magista Brush','Times New Roman', Times, serif;
    font-size: 35px;
}
  
  
.email-login>input[name="emailLogin"], .password-login>input[name="password"]{
    max-width: 450px;
    height: 30px;
    padding-left: 7px;
    margin-top: 10px;
    margin-bottom: 12px;
}
  
.btn-login{
    width: 100px;
    height: 30px;
    background: rgb(25, 86, 88);
    border-radius: 7px;
    color: aliceblue;
    margin-bottom: 10px;
}


.email-login, .password-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-shrink: 2;
    flex-wrap: wrap;
    max-height: 350px;
    text-align: start;
    margin: 0 auto;
    max-width: 450px;
}


@font-face {
    font-family: 'Caviar Dreams';
    src: url('../../fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Magista Brush';
    src: url('../../fonts/Magista\ Brush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }