*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.form-products{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 700px;
    min-height: 750px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}

.header-form, .name-cost, .selects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}

.header-form> h1{
    font-family: 'Magista Brush','Times New Roman', Times, serif;
    font-size: 27px;
}

#cancel{
    background-color: rgba(119, 180, 180, 0.685);
    color: rgb(100, 100, 100);
}

#cancel, .btn-salvar{
    border-radius: 3px;
    margin: 2px;
    width: 90px;
    height: 40px;
}

.image-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 120px;
    margin: 0 auto;
    grid-gap: 10px;
    height: 120px;
    visibility: hidden;
    align-items: center;
    margin-bottom: 60px;
}


.image-container.view {
    visibility: visible;
}

.img-url{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
}

.img-url> label{
    text-align: justify;
    padding-left: 30px;
}

input[name="url"]{
    margin: 10px 25px;
    width: 640px;
    height: 30px;
    padding-left: 7px;
}

input[name="name"], input[name="cost"], select{
    width: 315px;
    height: 30px;
    padding-left: 7px;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

.description{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 650px;
    margin: 0 auto;
    height: 140px;
}

.description> label{
    text-align: justify;
}

.description> textarea{
    text-align: justify;
    padding: 7px;
    width: 650px;
    height: 90px;
    margin-bottom: 7x;
    margin-top: 10px;
}


.selects, .name-cost{
    width: 650px;
    height: 70px;
    align-items: center;
}

.selects> div, .name-cost>div{
    min-height: 70px;
    width: 100%;
    justify-content: space-evenly;
    text-align: start;
}

div> select{
    margin-top: 15px;
    max-width: 320px;
}



@font-face {
    font-family: 'Caviar Dreams';
    src: url('../../fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Magista Brush';
    src: url('../../fonts/Magista\ Brush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @media(max-width:600px){
    header{
        display: flex;
        overflow: scroll;
    }
    .header-form, .name-cost{
        display: grid;
        grid-template-columns: 1fr;
    }
  }

  hr{
      background: gray;
      max-width: 650px;
      height: 1px;
      margin: 0 auto;
  }

  #btn-checked{
      text-align: center;
      margin: 15px;
      border-radius: 3px;
      background-color: rgba(35, 71, 71, 0.418);
      width: 200px;
      height: 35px;

  }

  .products-checked{
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 2;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 220px;
      height: 50px;
      margin: 0 auto;
  }
